body
{
	background-color:#f4f4f4;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	line-height:1.6em;
	margin:0;
}
.button
{
	background-color:#E91E63;
	color:#fff;
	padding:10px 15px;
	border:none;

}
.button:hover
{
	background-color:red;
	color:white;
}
a
{
	text-decoration:none;
	color:black;
	font-size:18px;
	padding-right:15px;
}
a:hover
{
	color:red;
}
a:active
{
	color:green;
}

.container
{
	margin:auto;
	margin-right:100px;
	width:80%;
}

.container1
{
	margin:auto;
	margin-top:20px;
	width:50%;
}


	.clr
	{
		clear:both;
	}

	.box-1
{
	background-color:#E91E63;
	color:#fff;
	border-right:5px red solid;
	border-left:5px red solid;
	border-top:5px red solid;
	border-bottom:5px red solid;
	border-width:3px;
	border-top-width:10px;
	border-top-style:dotted;
	
	border:1px   #E91E63 solid;

	padding-top:20px;
	padding-bottom:20px;
	padding-right:20px;
	padding-left:20px;

	padding:3px;

	margin-top:20px;
	margin-right:0px;

	}

	.clr
	{
		clear:both;
	}

	.box-1 h1
	{
		font-family:Tahoma;
		font-weight:normal;
		text-transform:uppercase;
		text-align:center;
		color:white;
	}

#nav-bar
{
	background-color:#E91E63;
	col:#19bc9c
}

#nav-bar ul
{
	padding:10px;
	list-style:none;
}

#nav-bar li
{
  display:inline;
  list-style-type:
  padding-right:2px;
}

.form 
{
	background-color:white;
	border:2px #E91E63 solid;
	padding:20px;
	text-align:center;
}
.form h1
{
	color: #E91E63;
    font-size: 40px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    font-weight: 200;
    text-align:center;
}


	.my-form .form-group
	{
		padding-bottom:15px;
		padding-top:15px;
	}



.my-form input[type="text"],input[type="password"]

{
	padding:10px;
	width:50%;
}
.my-form input[type="date"]

{
	padding-right:0px;
	width:25%;
}
.my-form input[type="number"]

{
	padding-top:5px;
	width:8%;
}

.background
{

background: url(bg-home4.jpg) top center no-repeat;
    min-height:420px;
    width:100%;
}
.background1
{

background: url(bg-home6.jpg) top center no-repeat;
    min-height:-webkit-fill-available;
    width:100%;
}
.background2
{

background: url(bg-home7.jpg) top center no-repeat;
    min-height:-webkit-fill-available;
    width:100%;
}
.categories
	{
		border:2px #E91E63 solid ; 
		padding:10px;
	}

	.categories h2
	{
		text-align:center;
	}
	.categories ul
	{
		padding:0;
		padding-left:20px;
		list-style:square;
		list-style:none;
		font-size:12px;
	}

	.categories li
	{
		padding-bottom:5px;
		color:black;
		list-style:square;

		list-style:sidama;

	}
#main-footer
{
	background:#333;
	color:#607D8B;
	text-align:center;
	padding:10px;
	margin-top:20px;
}

